body,html{
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

*{
    box-sizing: border-box;
}
  
.header{
    height: 3rem;
    background: linear-gradient(to bottom left,#D3CCE3 40%, #E9E4F0 100%);
    align-content: center;
  }

button{  
    border: none;
    color: #000;
    border-radius: 5px;
    font-size: 14px;
    background: #dadfe1;
    padding: 5px;
    cursor: pointer;
}

button:active{
    transform: scale(0.9);
}

button:hover{
    transform: scale(1.1);
}

.header button{
    margin: 8px 5px 8px 5px;
    border: none;
    background: #fff;
    color: #000;
    width: 90px;
    height: 2rem;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
  }

.header-buttons{
    float: right;
}

li{
    margin-top: 10px;
}

th{
    text-align: left;
    padding:1rem 3rem 1rem 1rem;
  }
  
.p{
    padding: 15px;
}

td{
    padding:1rem 3rem 1rem 1rem;
}

.flex{
    display: flex;
  }
  
.flex *{
    margin-left: 10px;
}

#empty_cart{
    position: absolute;
    top: 50%;
    left: 45%;
}



/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    text-align: center;
    background: linear-gradient(to bottom left, #E9E4F0 5%, #ffff 100%);
    margin: 1rem;
  }

  .card img{
    width: 100%;
    height: 150px;
  }

  .card button{
      width: 95%;
      margin-bottom: 3%;
  }