body,html{
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.header{
    height: 3rem;
    background: #302b63;
    align-content: center;
  }

button{  
    border: none;
    color: #000;
    border-radius: 5px;
    font-size: 14px;
    background: #dadfe1;
    padding: 5px;
    cursor: pointer;
}

button:active{
    transform: scale(0.9);
}

.header button{
    margin: 5px 5px 5px 5px;
    border: none;
    background: #fff;
    color: #000;
    width: 90px;
    height: 2rem;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
  }

.header-buttons{
    float: right;
}

li{
    margin-top: 10px;
}

th{
    text-align: left;
  }
  
.p{
    padding: 15px;
}

.flex{
    display: flex;
  }
  
.flex *{
    margin-left: 10px;
}

#empty_cart{
    position: absolute;
    top: 50%;
    left: 45%;
}